.hero-section {
  background-image: url('../assets/bgHeroSection.png');
  min-height: 800px;
  border-radius: 30px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.section-nosso-prj {
  background-color: #FEFBC8;
  border-radius: 60px 60px 0 0;
}